{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container text-center">
    <h1>Votre Panier</h1>

<div class="container">
{% if items | length > 0  %}
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
        
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price * item.quantity }}</td>
            <td>
                <a href="" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
            
        {% endfor %}
        
        </tbody>
    </table>
    <div class="container">
    <a href="{{path('cart')}}" class="btn btn-primary">Retour</a>
    </div>
{% else %}
    <p>Surprise c'est vide ! </p>
{% endif %}
</div> 
</div> 
{% endblock %}
