
<div class="col-12 col-lg-4 p-1">

<div class="card border-primary mb-3 " style="max-width: 20rem;">
  <div class="card-header">{{ carte.name }}</div>
  <img src="{{asset('/images/' ~ carte.image )}}" alt="" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
  <div class="card-body">
    <h4 class="card-title">{{carte.name}}</h4>
    <p class="card-text">{{carte.description}}</p>
    <h5 class="card-title">prix : {{carte.price | number_format (2, "," , " ")}} €</h5>
  {% if admin %}
  <div class="container">
    
    <a href="{{path('admin_modif',{'id' : carte.id })}}" class="btn btn-danger">Modifier</a>
    <a href="" class="btn btn-warning">Supprimer</a>
  </div>
  {% else %}

    <a href="{{path('panier_add',{'id' : carte.id })}}" class="btn btn-success float-right">Panier</a>
    
  {% endif %}
  
  </div>
  </div>
</div>