{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container">
        {% include "cart/_filter.html.twig" with { form : form } only %}
    </div>
            <div class="container">
            <div class="row d-block no-gutters">
    {% if admin %}
            <a href="{{path('creationBien')}}" class="btn btn-info">Ajouter</a>

    {% endif %}
        </div>
    </div>

<div class="container">

    <div class="row">
    {% for carte in cartes %}
        
        {% include "cart/_cart.html.twig" with { carte : carte , admin : admin } only %}
    {% endfor %}
    </div>
    <div class="navigation">
    {{ knp_pagination_render(cartes) }}
    </div>
</div>
{% endblock %}
