{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container">
    {{form_start(form)}}
        {{form_widget(form)}}
        <a href="{{path('admin_index')}}" class="btn btn-info">Retour</a>
        
    {{form_end(form)}}

</div>


{% endblock %}
